<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <h1>Current States:</h1>
        <ul>
            {% for sensor in sensor_states %}
            <li>
                <b>{{ sensor.name }}</b>
                {{ sensor.state }}
                update: {{ sensor.timestamp }}
            </li>
            {% endfor %}
        </ul>

        <h3><code>g r a p h</code></h3>
        <script src="{{ url_for('static', filename='bower_components/d3/d3.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bower_components/d3-timeline/src/d3-timeline.js') }}"></script>
        <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <div id="timeline">
        </div>

        <script>
            window.onload = function() {
                var data = {{ history_data|safe }};
                console.log(data);
                var chart = d3.timeline();
                var svg = d3.select("#timeline1")
                            .append("svg")
                            .attr("width", 500)
                            .datum(data)
                            .call(chart);
            };
        </script>
    </body>
</html>
